<div class="top-background">
  <h1 class="small-2 small-centered columns header-text-margin white-text">Inter-I</h1>
</div>

<div class="small-5 small-centered columns">
  <h4 class="spacer-center">Search to find relations between Ideas.</h4>

  <div class="search-space row collapse">
    <%= form_tag show_relations_path(:idea), method: :get do %>
    <div class="small-9 columns no-padding">
      <%= text_field_tag :idea %>
    </div>
    <div class="small-3 columns no-padding">
      <span><%= submit_tag "Explore Ideas", class: "tiny button blue-button" %></span>
    </div>
    <% end %>
  </div>
    <h4 class="spacer-try-these">Try these to get started.</h4>
    <ul class="inline-list row">
      <li class="small-3 columns"><%= link_to "Beowulf", show_relations_path(id: "idea", idea: "Beowulf") %></li>
      <li class="small-3 columns"><%= link_to "Achilles", show_relations_path(id: "idea",idea: "Achilles") %></li>
      <li class="small-3 columns"><%= link_to "Aristotle", show_relations_path(id: "idea",idea: "Aristotle") %></li>
    </ul>
    <ul class="inline-list row">
      <li class="small-3 columns"><%= link_to "A", show_relations_path(id: "idea",idea: "A") %></li>
      <li class="small-3 columns"><%= link_to "Ancient Egypt", show_relations_path(id: "idea",idea: "Ancient Egypt") %></li>
      <li class="small-3 columns"><%= link_to "Felix Hausdorff", show_relations_path(id: "idea",idea: "Felix Hausdorff") %></li>
    </ul>
    <ul class="inline-list row">
      <li class="small-3 columns"><%= link_to "Alabaster", show_relations_path(id: "idea",idea: "Alabaster") %></li>
      <li class="small-3 columns"><%= link_to "Connected space", show_relations_path(id: "idea",idea: "Connected space") %></li>
      <li class="small-3 columns"><%= link_to "George Mason University", show_relations_path(id: "idea",idea: "George Mason University") %></li>
    </ul>
  <div>

  </div>
</div>
